{% extends 'base.html'%}

{% block cuerpo %}
<div class = "row"> <!--LA FILA-->
    <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--COLUMNA IZQUIERDA-->

    <h1>Agregar Venta</h1>
    <div class="card"> <!--LA TARJETA-->
        <div class="card-body">
            <form action='registrarCliente/' method='POST'> {% csrf_token %}<!--NO HAY ACCION-->
                <div class='form-group'>
                <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                placeholder="Codigo Cliente" minlenght="1" maxlenght="6" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtnombre" name="txtnombre" class="form-control" 
                placeholder="Nombre" minlenght="1" maxlenght="100" requiered>
                </div>
                    
                <div class='form-group py-3'>
                <input type="text" id="txtapellido" name="txtapellido" class="form-control" 
                placeholder="Apellido" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtno_telefono" name="txtno_telefono" class="form-control" 
                placeholder="Número de teléfono" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtemail" name="txtemail" class="form-control" 
                placeholder="E-mail" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtorden" name="txtorden" class="form-control" 
                placeholder="Orden" minlenght="1" maxlenght="100" requiered>
                </div>

                <div class='form-group py-3'>
                <input type="text" id="txtmesa" name="txtmesa" class="form-control" 
                placeholder="Mesa" minlenght="1" maxlenght="100" requiered>
                </div>
                
                <div class='form-group py-2'>
                <button type="submit" class="btn btn-primary">Guardar Venta</button>
                </div>
                </form>
        </div>
    </div> <!--LA TARJETA-->
            

    </div> <!--COLUMNA IZQUIERDA-->

    <div class = "col-sm-12 col-md-8 col-lg-4 col-xl-8"> <!--COLUMNA DERECHA-->

    <h1>Listado de Ventas</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Número de teléfono</th>
            <th scope="col">Orden</th>
            <th scope="col">Mesa</th>

            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for v in misclientes %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> {{v.codigo}} </td>
                <td> {{v.nombre}} </td>
                <td> {{v.apellido}} </td>
                <td> {{v.no_telefono}} </td>
                <td> {{v.email}} </td>
                <td> {{v.orden}} </td>
                <td> {{v.mesa}} </td>
                <td> <a href="seleccionarCliente/{{v.codigo}}" class="btn btn-info">Editar</a> </td><!--FALTA CÓDIGO-->
                <td> <a href="borrarCliente/{{v.codigo}}" class="btn btn-danger">Borrar</a> </td><!--FALTA CÓDIGO-->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div> <!--COLUMNA DERECHA-->

{% endblock %}